@font-face {
    font-family: Rubik;
    src: url('fonts/HarmonyOS_Sans_Regular.ttf') format("truetype");
    font-weight: 400;
    /*unicode-range: u+20-7e*/
}

* {
    font-family: Rubik, sans-serif;
    font-weight: normal;
}
